extends ./layout.jade

block content
  .row
    .col-lg-12
      .widget.style1.navy-bg
        h1.m-xs Source Code Editor
        br
        textarea#code1
          script.
            // Code goes here
            // For demo purpose - animation css script
            function animationHover(element, animation)
            element = $(element);
            element.hover(
            function()
            element.addClass('animated ' + animation);
            },
            function()
            //wait for animation to finish before removing classes
            window.setTimeout( function()
            element.removeClass('animated ' + animation);
            }, 2000);
            });
            }

block scripts
  // CodeMirror
  script(src='/js/plugins/codemirror/codemirror.js')
  script(src='/js/plugins/codemirror/mode/javascript/javascript.js')
  script.
    $(document).ready(function() {
      var editor_one = CodeMirror.fromTextArea(document.getElementById("code1"), {
        lineNumbers: true,
        matchBrackets: true,
        styleActiveLine: true,
        theme:"ambiance"
      });
    });
